<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span>Reset Password
            </div>
        </div>
    </div>

     <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">


                        <% if (typeof message !== 'undefined') { %>
                            <div class="alert alert-danger fade show mt-3" id="message" role="alert">
                              <%= message %>
                            </div>
                            <% } %>


                        <div class="col-lg-6">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Forget Password</h3>
                                    </div>
                                    

                                    
                                    <div class="alert alert-danger fade show mt-3" id="error-message" role="alert" style="display: none;"></div>
                                    <div class="login-form">
                                    <form action="" method="post">
 
                                        <div class="form-group">
                                            <label for="password"></label>   
                                            <input type="password" required="" name="password" placeholder="Password" id="password">
                                            <input type="hidden" name="user_id" value="<%= user_id %>">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" value="send reset link"
                                                name="login">Reset Password</button>
                                        </div>
                                    </form>

                                    <% if (typeof  message !== 'undefined') { %>  

                                        <div class="alert alert-success fade show mt-3" id="message" role="alert">
                                            <%- message %> 
                                        </div>
                                        <% } %>
                                      

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</main>

<script>
    function validateForm() {
        var newPassword = document.getElementById("user-password").value;
        var confirmPassword = document.getElementById("user-repassword").value;

        var error_message = document.getElementById("error-message");
        error_message.style.display = "none"; // Hide the error message by default

        if (newPassword === "" || confirmPassword === "") {
            error_message.innerHTML = "Please fill in all the fields.";
            error_message.style.display = "block";
            return false; // Prevent form submission
        } else if (newPassword !== confirmPassword) {
            error_message.innerHTML = "Passwords do not match.";
            error_message.style.display = "block";
            return false; // Prevent form submission
        }

        // If all validations pass, the form will be submitted
        return true;
    }
</script>
